<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
        <title>Index</title>
</head>

<body>
    <%- include ('partials/navbar') %>
        <div class="container">

            <h1>Questions</h1>
            <a href="/perguntar" class="btn btn-success">Ask</a>
            <hr>

            <% questions.forEach(question=> { %>
                <div class="card">
                    <div class="card-body">
                        <p>
                            <%- question.title %>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success" href="/pergunta/<%- question.id %> ">Answer</a>
                    </div>
                </div>
                <% }) %>
        </div>

</body>
<%- include ('partials/scripts') %>

</html>