<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
        <title>Home</title>
</head>

<body>
    <%- include ('partials/navbar') %>
        <div class="container">

            <div class="d-flex justify-content-between align-items-center mt-5">
                <h1>Questions</h1>
                <a href="/ask" class="btn btn-success">Ask</a>
            </div>
            <hr>

            <% questions.forEach(question=> { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <p><strong><%- question.title %></strong></p>
                        <p><em><%- question.desc %></em></p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <a class="btn btn-success" href="/ask/<%- question.id %> ">Answer</a>
                    </div>
                </div>
                <% }) %>
        </div>

</body>
<%- include ('partials/scripts') %>

</html>